.logo{
  width: 2rem;
  margin-right: 1rem;
}

img {
  border:0;
  border-style: none;
}
.typeSelector{
  width: 5rem;
}

.searchBar{
  height: 40px;
  width:554px;
}

.inputForm {
  position: relative;
}

.queryTypeSelector {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.queryBar{
  height:40px;
  width: 554px;
  line-height: 4rem;
  padding-left: 6rem;
  padding-right: 3.5rem;
  border: none;
  border-radius: 2px 0 0 2px;
  outline: 0;
  font-size: 1.2rem;
}
